server:
  address: 127.0.0.1
  port: 8080
spring:
  datasource:
    url: jdbc\:mysql\://127.0.0.1\:3306/rancher?useUnicode\=true&characterEncoding\=utf8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
  mapper-locations: classpath*\:mapper/*Mapper.xml
  type-aliases-package: com.xiuery.xrancher.entity
x-config:
  rancher-server:
    url: https://127.0.0.1:10443
    token: token-rzgqr:ffrntrqt8qkcfz5kx4447x9t2fhrczqnrchplmw2jwr8gj7m8pl6fl
    content-type: application/json
